<a href="https://colab.research.google.com/github/khal94/Prediction-of-Product-Sales/blob/main/project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
!pip show pandas

Name: pandas
Version: 1.5.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: /usr/local/lib/python3.10/dist-packages
Requires: numpy, python-dateutil, pytz
Required-by: altair, arviz, bigframes, bokeh, bqplot, cmdstanpy, cufflinks, datascience, db-dtypes, dopamine-rl, fastai, geemap, geopandas, google-colab, gspread-dataframe, holoviews, ibis-framework, mizani, mlxtend, pandas-datareader, pandas-gbq, panel, pins, plotnine, prophet, pymc, seaborn, sklearn-pandas, statsmodels, vega-datasets, xarray, yfinance

In [ ]:
import pandas as pd
file_path = '/content/drive/MyDrive/Colab Notebooks/sales_predictions_2023.csv'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls '/content/drive/My Drive/Colab Notebooks/sales_predictions_2023.csv'

'/content/drive/My Drive/Colab Notebooks/sales_predictions_2023.csv'

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/sales_predictions_2023.csv')

In [ ]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
print(df.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
duplicated_rows = df.duplicated().sum()
print("Number of duplicated rows: ", duplicated_rows)

Number of duplicated rows:  0

In [ ]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'Item_Identifier': ['FDA15' 'DRC01' 'FDN15' ... 'NCF55' 'NCW30' 'NCW05']
Unique values in 'Item_Weight': [ 9.3    5.92  17.5   19.2    8.93  10.395 13.65     nan 16.2   11.8
 18.5   15.1   17.6   16.35   9.    13.35  18.85  14.6   13.85  13.
  7.645 11.65   5.925 19.25  18.6   18.7   17.85  10.     8.85   9.8
 13.6   21.35  12.15   6.42  19.6   15.85   7.39  10.195  9.895 10.895
  7.905  9.195  8.365  7.97  17.7   19.35   8.645 15.6   18.25   7.855
  7.825  8.39  12.85  19.     5.905  7.76  16.75  15.5    6.055  6.305
 20.85  20.75   8.895 19.7    8.75  13.3    8.31  19.75  17.1   10.5
  6.635 14.15   8.89   9.1    7.5   16.85   7.485 11.6   12.65  20.25
  8.6   12.6    8.88  20.5   13.5    7.235  6.92   8.02  12.8   16.6
 14.    16.    21.25   7.365 18.35   5.465  7.27   6.155 19.5   15.2
 14.5   13.1   12.3   11.1   11.3    5.75  11.35   6.525 10.3    5.78
 11.85  18.75   5.26  16.1    9.5   13.8   14.65   6.67   6.11  17.2
  6.32   4.88   5.425 14.1    7.55  17.25  12.    10.1    7.785 13.15
  8.5    7.63   9.285  7.975 15.7    8.985 20.35   6.59  19.85   6.26
 18.2    8.695  7.075  8.195  7.09   6.095  6.15   9.395 15.75   7.475
  6.445 19.1   15.    16.7    7.07   6.48   9.695 11.15   9.6   20.7
  5.5    7.895 17.35   7.285  6.17  11.395  7.71  12.1   14.35   8.1
  8.05  16.5    6.785  7.575  7.47  15.25   7.605 18.    21.2    8.97
 10.6    6.865 10.8   15.15  18.1    6.655 20.1    7.935 15.35  12.35
  6.85   8.775 14.85   7.84  12.5    8.325  5.765  5.985 14.3    6.135
  8.51   6.65   5.695  6.36   8.3    7.56   8.71   6.695 14.8   17.75
  8.575  6.57   8.68   5.63   9.13   6.715  5.82   7.93   5.     7.445
  6.675  8.18   6.98   7.435 20.6    8.355  8.975 20.2    5.655  5.175
 20.     7.67   4.785  8.395  6.175  8.21   5.845  7.17   8.785  7.89
  5.32   5.03   8.945  6.28   7.565  9.31   7.02   5.46   6.13   6.55
 17.    16.25   5.15   7.865  6.575  7.06   5.785  7.42   6.235  6.75
  5.86   5.035  6.38   5.675 11.5   21.    21.1    4.61   7.     6.405
 14.7    7.68   8.185  8.655 10.85   8.42   7.85   4.59   7.51  11.
  6.71  14.75   7.59   5.155  6.365  8.235  5.365  8.485  7.535  4.92
  6.385  8.26   7.945  8.63   9.21   6.965  8.905  7.21   7.3    9.27
 10.695  6.215  7.405  7.72   6.115  6.035  6.78  15.3    7.105  7.52
  4.805  6.425  7.6    6.61   7.325  8.115  5.94   5.635  7.35   5.825
  6.63   7.05   8.315  6.8    7.035  8.96   5.51   8.43   8.27   7.81
  6.885  5.44   5.405  4.635 10.65   5.735  6.465  8.84   7.75   6.765
  9.065  7.655  4.615  8.76   7.1    6.195  5.615  8.52   7.26   6.825
  5.325  5.59   5.88   5.19   6.985  9.06   6.69   8.615  7.275  6.96
  9.17   8.155  5.73   8.935  8.92   7.36   7.64   5.34   7.22   6.615
  6.76   6.3    5.98   8.06   6.44   5.095  8.8    6.325  7.31   9.035
  9.105  7.145  4.905  4.555  8.     7.315  6.89   5.945  6.86   6.935
  6.03   7.725  5.885  7.155  6.46   5.48   8.01   5.8    5.305  6.905
  7.96   5.11   8.77   7.685  8.275  8.38   8.35   9.42   6.775  6.4
  6.895  5.485  6.52   8.67   5.21   5.4  ]
Unique values in 'Item_Fat_Content': ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
Unique values in 'Item_Visibility': [0.0160473  0.01927822 0.01676007 ... 0.03518627 0.14522065 0.04487828]
Unique values in 'Item_Type': ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
Unique values in 'Item_MRP': [249.8092  48.2692 141.618  ...  57.5904 214.5218  75.467 ]
Unique values in 'Outlet_Identifier': ['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']
Unique values in 'Outlet_Establishment_Year': [1999 2009 1998 1987 1985 2002 2007 1997 2004]
Unique values in 'Outlet_Size': ['Medium' nan 'High' 'Small']
Unique values in 'Outlet_Location_Type': ['Tier 1' 'Tier 3' 'Tier 2']
Unique values in 'Outlet_Type': ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']
Unique values in 'Item_Outlet_Sales': [3735.138   443.4228 2097.27   ... 7182.6504 3608.636  2778.3834]

In [ ]:
file_path = '/data-cleaning-core.csv'  # Update the path where you want to save the cleaned data
df.to_csv(file_path, index=False)

In [ ]:
num_rows, num_cols = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 8523
Number of columns: 12

In [ ]:
data_types = df.dtypes

print("Data types of each variable:")
print(data_types)

Data types of each variable:
Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
duplicates = df.duplicated()

# Display the duplicates
print("Duplicate rows:")
print(df[duplicates])

Duplicate rows:
Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [ ]:
# Drop duplicates from the DataFrame
df = df.drop_duplicates()

# Check the shape of the DataFrame after dropping duplicates
print("Shape of DataFrame after dropping duplicates:", df.shape)

Shape of DataFrame after dropping duplicates: (8523, 12)

In [ ]:
missing_values = df.isnull().sum()

# Display the columns with missing values
print("Columns with missing values:")
print(missing_values[missing_values > 0])

Columns with missing values:
Item_Weight    1463
Outlet_Size    2410
dtype: int64

In [ ]:
df_filled = df.fillna(0)

# Display the DataFrame with missing values replaced
print("DataFrame with missing values replaced:")
print(df_filled)

DataFrame with missing values replaced:
     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998           0               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002           0               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
missing_values_filled = df_filled.isnull().sum()

In [ ]:
if missing_values_filled.sum() == 0:
    print("No missing values in the DataFrame after addressing them.")
else:
    print("There are still missing values in the DataFrame.")

No missing values in the DataFrame after addressing them.

In [ ]:

numerical_columns = ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']

In [ ]:
summary_statistics = df[numerical_columns].describe()

print(summary_statistics)

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800